* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  
  /*Стили для Navbar*/
  .main-links-block {
    display: flex;
    gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-decoration: none;
    align-items: center;
  
  }

  .some-icons-and-btn {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navbar-container {
    margin: 0 100px 0;
    max-width:1840px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
  .shop-box {
    display: flex;
    align-items: center;
  }
  
  .logo-name {
    font-size: 35px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .links-with-nuxt {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      transition: .2s;
    }
    &visited {
      color: black;
    }
  }
  /*Стили для главного банера*/
  .shop-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    text-align: center;
    margin-left: 15px;
  }
  .welcome-banner {
    width: 96vw;
    height: 100vh;
    margin-left: 30px;
    margin-bottom: 70px;
    background-image: url('@/public/main_pic.PNG');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    
  }
  
  .advertisment-part {
    position:absolute;
    top: 299px;
    left:150px;
  }
  .welcome-banner h2 {
    font-size:35px;
    font-weight: lighter;
    padding-bottom: 10px;
  }
  .welcome-banner h1 {
    font-size:50px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .welcome-banner h3 {
    font-size:25px;
    font-weight: lighter;
    padding-bottom: 35px;
  }
  /*Стили для Категорий товаров*/
