* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  
  
  .main-links-block {
    display: flex;
    gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-decoration: none;
    align-items: center;
  
  }

  .some-icons-and-btn {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:400px;
    height: 90px;
  }
  .shop-box {
    display: flex;
    align-items: center;
  }
  
  .logo-name {
    font-size: 35px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .links-with-nuxt {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      transition: .2s;
    }
    &visited {
      color: black;
    }
  }